.Centerer {
    width:auto;
    display:flex;
    justify-content: center;
    
}

.PaymentTextField {
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: left;
    margin: 0;
}