img {
    width: 180px;
    padding: 1%;
}

.box {
    background-color:#C1DCC6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-box {
    display: flex;
    align-items: flex-start;
}

.left{
    width: 20%
}

.right{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.image {
    border-radius: 50%;
    width: 100px;
    margin: 40px 30px 20px 130px;
    padding: 0;
    
}

.button-profile {
    align-self: flex-end;
    border-radius: 30px;
    margin-top: 15px;
    margin-right: 15px;
    border:none;
    padding: 10px 30px;
}

.button-profile:hover{
    filter:brightness(90%);
}
.text-pp{
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 500;
}

.text {
    display: flex;
    gap: 35%;
    margin-left: 3%;
}

.text > p {
    font-weight: 200;
    font-size: 20px;
    color: white;
}

.title-info{
    font-weight: 800;
    font-size: 25px;
    margin-left: 10%;
}

.Info {
  width: 600px;
  height: 200px;
  border: 2px solid black;
  margin-left: 15%;
}

.Info1 {
    width: 800px;
    height: 250px;
    background-color: #F2DFDF;
    margin-left: 15%;
  }

  .Info2 {
    height: 1800px;
    width: 600px;
    margin-left: 15%;
    border-radius: 0px;
    background-color: #E2E7E3;
  }

  .text-single{
    margin: 10px;
    display: flex;
    align-items: space-evenly;
    gap: 80px;
    padding-left: 250px;
    font-size: large;
    font-weight: 500;
   }
  
