.room-type {
    position: relative;
    top: 30px;
    left: 30px;
}

.hotel-info-container {
    display: flex;
}

.hotel-info {
    width: 95%;
    height: 500px;
    margin: 40px;
    background-color: #F2DFDF;
}

.hotel-info-text {
    align-content: center;
    margin: 40px;
    
}

.hotel-price {
    align-items: center;
    top: 60px;
    right: 60px;
}

.reserve-button {
    width: 100px;
    height: 30px;
    border:none;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #D3D0EB;
    transition: filter 0.2s ease-in-out;
    color:white;
}

.reserve-button:hover {
    filter:brightness(90%);
}


